body {
    font-family: 'Varela Round', sans-serif;
}

p {
    font-family: 'Varela Round', sans-serif;
}

#nav {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 0;
}

#nav > ul.links {
    justify-content: flex-end;
    font-family: 'Varela Round', sans-serif;

}

#nav > ul.icons {
    margin-left: 25px;
    font-family: 'Varela Round', sans-serif;

}

#wrapper > .bg {
    background-image: url("../images/overlay.png"), linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8)), url("../nir-images/6.jpeg");

}

#main header.major {
    text-align: right;
    direction: rtl;
}

#main h2 {
    text-align: right;
    direction: rtl;
}

#main h1 {
    text-align: center;
    direction: rtl;
}

#main > .posts {
    padding: 10px 0;
}

#main > .posts > * {
    width: 50%;
    padding: 0 2rem;
}

.image.fit {
    display: block;
    margin: 2.5rem 0;
    width: 100%;
    height: 240px;
    object-fit: cover;
}

#myModal {
    position: fixed;
    z-index: 999999999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
}

#myModal.open {
    display: flex;
}

#myModal.close {
    display: none;
}

.modal-dialog {
    display: flex;
    position: relative;
    width: auto;
    height: 600px;
    background: #fff;

}

.modal-dialog > img {
    height: 600px;
    border: 3px solid #fff;
}

.modal-dialog > button {
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    position: absolute;
    right: 0;
    border-radius: 52px;
    outline: none;
    margin: 12px 3px 0 0;
    font-size: 55px;
    padding: 0px 12px 13px 17px;
    /* height: 49px; */
    color: #000!important;
    /* border: 0px !important; */
    box-shadow: 0 0 0 0 !important;
}

.mainFooter {
    direction: rtl;
}

.contactUsContent {
    display: flex;
    flex-direction: row;
}

.contactUsContent > section {
    flex: 1;
    padding: 20px;
}

.split {
    border-right: solid 2px #e2e2e2;
}

.sendButtonContainer {
    display: flex;
    justify-content: flex-end;
}

.requireAsterisk {
    color: red;
}

input[type="tel"] {
    height: 3rem;
    border-color: #eeeeee;
    box-shadow: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: transparent;
    border: solid 2px;
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 1rem;
    text-decoration: none;
    width: 100%;
}

.contactUsTitle{
    background-color: #f5f5f5;
}
.mainFooter {
    margin: 0 !important;
    width: 100% !important;
}
.mainFooter >section {
    border-left: 0 !important;
}
.mainFooter label {
    text-align: right;
}
#contactUs {
    padding-right: 0 !important;
}

@media only screen and (max-width: 600px) {
    .imageContainer, .imageContainer_infra{
        padding: 1px !important;
    }
    .posts .image.fit {
        height: 110px;
        margin: 0;
    }
}

@media screen and (max-width: 980px) {
    #nav {
        display: none;
    }
    .logo {
        display: none;
    }
    #header{
        height: 0;
    }
    .modal-dialog{
        height: auto;
    }
    .modal-dialog > img {
        height: 335px;
        width: 100%;
        object-fit: contain;
    }
    .modal-dialog > button {
        border: 0 !important;
    }
}